* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('whatsapp.jpg');

  color: white;
}

.container {
  display: flex;
  height: 90vh;
  width: 90vw;
  /* background-color: hsla(240, 95%, 8%, 0.369); */
  background-color: rgba(6, 74, 57, 0.509);
  border-radius: 15px;
  /* filter: blur(1px) saturate(180%); */
  backdrop-filter: blur(10px) saturate(180%);
  /* border: 5px solid white; */
}